.contents
  .history
    .history__title
      History
    %ul 
      %li 
        All
        %ul.table
          %li
          hkgu
          %li
            bitikuso
          %li
            kinntama
      %li 
        movie
        %ul.table
          %li
          %li
          %li
      %li 
        picture
        %ul.table
          %li
          %li
          %li
  .favorite
    Favorite
    %ul 
      %li 
        All
        %ul.table
          %li
          %li
          %li
      %li 
        movie
        %ul.table
          %li
          %li
          %li
      %li 
        picture
        %ul.table
          %li
          %li
          %li
