.contents {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
  .inner {
    display: inline-block;
    padding:10px;
    border: 1px dashed #ccc;
    margin: 0 auto;
    background-color: darkgrey;
    .table{
      border: 1px solid #aaa;
      text-align: left;
      display: table-cell;
      vertical-align: middle;
      width: 800px;
      height: 500px;
      margin: 20px;
      &__image {
        width: 800px;
        height: 500px;
        background-color: #f7f7e1;
        .icon {
          font-size: 400px;
          line-height: 500px;
          padding-left: 200px;
          cursor: pointer;
        }
      }
      &__texts {
        width: 800px;
        height: 400px;
        background-color: white;
        overflow: scroll;
        ul.title {
          font-size: 30px;
          padding-left: 5px;
          li{
            display: flex;
            padding-bottom: 8px;
            ul.text {
              font-size: 20px;
              li {
                padding-left: 10px;
                padding-top: 9px;
              }
              li.main {
                font-size: 27px;
                padding-top: 3px;
              }
            }
          }
        }
        ul.number {
          display: flex;
          li {
            padding-left: 20px;
          }
          li.unit {
            font-size: 22px;
            padding-top: 8px;
            padding-left: 5px;
          }
        }
        ul.last {
          display: flex;
          justify-content: space-between;
          li.point {
            font-size: 20px;
            padding-top: 7px;
            padding-left: 10px;
          }
          li.send {
            width: 100px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background-color: greenyellow;
            cursor: pointer;
            margin-left: 515px;
            padding-left: 5px;
            color: oldlace;
            border-radius: 7px;
          }
        }
      }
    }
  }
}