.form
  .inner
    .table
      .table__image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class:"hidden"}

      .table__texts
        %ul.title
          %li 
            Menu:
            %ul.text 
              %li.main
                豚丼
          %li 
            material:
            %ul.text 
              %li 
                豚
              %li 
                醤油
          %li 
            recipe:
            %ul.text 
              %li
                煮る
              %li
                焼く
              %li
          %li 
            time:
            %ul.number
              %li
                3
              %li.unit
                分
          %li 
            money:
            %ul.number
              %li
                310
              %li.unit
                円
          %li 
            point:
            %ul.last
              %li.point
                dagda
              %li.send
                SEND