.contents
  %ul.table
    - @posts.each do |post|
      %li
        .content
          .content__post{:style => "background-image: url(#{post.image});"}
            %p
              = post.content
            %span.name
              = post.name