.contents
  %ul.table
    - @posts.each do |post|
      %li
        .content
          .content__post{style: "background-image: url(#{post.image});"}
            %p
              = post.name
            %span.name
              = post.user.name