.contents
  %ul.table
    %li
      fasd
    %li
      hi
    %li
      son
    %li
      ki
    %li
.form
  .form__input
    .form__input--text
      type a message
    .form__input--image 
      = icon('fas', 'image', class: "icon") do
        %input{type:"file", class: "hidden"} 
  .form__send
    SEND